body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #1a252f;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 32px;
}

nav {
    background-color: #34495e;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

nav button,
a {
    background-color: #2ecc71;
    color: white;
    border: none;
    margin: 5px;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}

nav button:hover,
a:hover {
    background-color: #27ae60;
    text-decoration: none;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

section {
    display: none;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

section.active {
    display: block;
}

h2 {
    color: #2c3e50;
    margin-top: 0;
}

ul {
    padding-left: 20px;
}

pre {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: Consolas, monospace;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #888;
}

/* 
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
} */